<a href="https://colab.research.google.com/github/CJ-Naculpa/CPEN-21-A-ECE-2-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Intro to Python Programming

In [1]:
#Phython Indention
if 5>2:
  print("Five is greater than two")

Five is greater than two

#Phyton Variable

In [8]:
x = 1
a, b = 0 , 1
a,b,c= "zero","one","two"
print(x)
print(a)
print(b)
print(c)

1
zero
one
two

In [6]:
d = "Sally" #This is a string
print(d)
e = "john"
print(e)

Sally
john

In [7]:
print(type(d)) #this is function
print(type(x))

<class 'str'>
<class 'int'>

#Casting

In [ ]:
f = float(4)
print (f)
g = int()

##Multiple VAriables with One Value

In [9]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [10]:
x = "enjoying"
print("Python Programming is" " " + x)

Python Programming is enjoying

##Operations in Python

In [17]:
x = 5
y = 7 
x += y #This is the same as x = x + y
print(x)
print(x*y)

12
84

In [24]:
x = 5
y = 7

not(x>y or y==x)

True

In [25]:
x is y

False

In [26]:
x is not y

True